{% extends "store/layout.html" %}

{% block body %}
    <section class="index-container">
        <div class="listing-container">
            <h2>Listings</h2>
                {% for listing in listings %}
                <div class="listing">
                    <a href="{% url 'listings' listing.id %}"> 

                            {% if listing.listing_image %}
                                <img src="{{ listing.listing_image.url }}">
                            {% endif %}
                            <div class="listing-text">
                                <h5>{{ listing.title }}</h5>
                                {% if listing.description %}
                                <p class="index-listing-description">
                                    {{ listing.description }}
                                </p>
                                {% endif %}
                                <p>
                                    {% if listing.discounted_price %}
                                    ₹<span class="index-listing-price">{{listing.discounted_price}}</span>
                                    <span><span class="mrp">₹{{listing.price}}</span></span>
                                    {% else %}
                                    ₹<span class="index-listing-price">{{listing.price}}</span>
                                    {% endif %}
                                </p>
                            </div>          
                    </a>
                </div>
                {% endfor %}
        </div>
    </section>

{% endblock %}