{% extends "store/layout.html" %}
{% load custom_filters %}

{% block body %}
    <section class="index-container">
        <div class="listing-container">
            <h2>Listings</h2>
                {% for listing in listings %}
                <div class="listing">
                    <a href="{% url 'listings' listing.id %}"> 

                            {% if listing.listing_image %}
                            <div class="index-listing-image-container">
                                <img src="{{ listing.listing_image.url }}">
                            </div>
                            {% endif %}
                            <div class="listing-text">
                                <h5>{{ listing.title }}</h5>
                                {% if listing.description %}
                                <p class="index-listing-description">
                                    {{ listing.description }}
                                </p>
                                {% endif %}
                                <p class="index-listing-price-container">
                                    {% if listing.discounted_price %}
                                    ₹<span class="index-listing-price">{{listing.discounted_price}}</span>
                                    <span class="mrp">₹{{listing.price}}</span>
                                    <span class="index-discount">{{ listing.price|calculate_discount:listing.discounted_price }}% OFF</span>
                                    {% else %}
                                    ₹<span class="index-listing-price">{{listing.price}}</span>
                                    {% endif %}
                                </p>
                            </div>          
                    </a>
                </div>
                {% endfor %}
        </div>
    </section>

{% endblock %}