{% extends "store/layout.html" %}

{% block body %}
    
<div class="listing-body">
    <div class="listing-image-container">
        {% if listing.listing_image %}
            <img src="{{ listing.listing_image.url }}">
        {% endif %}
        {% if listing.active_status == False %}
            <h4 class="status-text">Out of Stock</h4>
        {% endif %}
        </br>
    </div>
        
    <div class="listing-content-container">
        <h2>{{listing.title}}</h2>
        <p class="listing-description">{{listing.description}}</p>
        <p>
            {% if listing.discounted_price %}
            ₹<span class="index-listing-price">{{listing.discounted_price}}</span>
            <span><span class="mrp">₹{{listing.price}}</span></span>
            {% else %}
            ₹<span class="index-listing-price">{{listing.price}}</span>
            {% endif %}
        </p>
        <p><strong>Category: </strong>{{listing.category}}</p>
        <p>
            {% if request.user.is_authenticated %}
                    {% if watchlist %}
                    <a href="{% url 'watchlist_remove' listing.id %}">Remove from Watchlist</a>
                    {% else %}
                    <a href="{% url 'watchlist_add' listing.id %}">Add to Watchlist</a>
                    {% endif %}
            {% elif listing.active_status %}
            Sign in to Watchlist.
            {% endif %}
        </p>
        <br>
    </div>
</div>
<div class="reviews">
    <li><strong>Comments: </strong></li>
    {% if comments %}
    {% for comment in comments %}
        <li><p>{{comment.user}}: {{comment.content}}</p></li>
    {% endfor %}
    {% else %}
        <li><p>No comments</p></li>
    {% endif %}
    {% if request.user.is_authenticated %}
    <div>            
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="content" placeholder="Type here">
            <input type="submit" value="Comment"></input>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}